.container {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    background: #0f0c29;
    background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
    border-radius: 0 0 5px 5px;
}

.footerText {
    color: #fff;
    margin: 20px 50px 20px 30px;
    font-size: 25px;
}
