@import "nullstile.scss";

* {
  padding: 0;
  margin: 0;
}

body {
  background: #4568DC;
  background: -webkit-linear-gradient(to left, #B06AB3, #4568DC);
  background: linear-gradient(to left, #B06AB3, #4568DC);
  color: #fff;
}
